{% load static %}
{% load humanize %}
<head>
<!--	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1><center>Demo usedcars web application</center></h1>
<form action="/usedcars/" method="post" class="bootstrap-frm">
    {% csrf_token %}
    <table> 
    	<tr>
    		<td>Fuel Type :</td>
	    	<td>{{ form.fuel_type }}</td>
    	</tr>
    	<tr>
	    	<td>Gear Box :</td>
	    	<td>{{ form.gear_box }}</td>
	    </tr>
	    <tr>
	    	<td>Vehicle Type :</td>
	    	<td>{{ form.vehicle_type }}</td>
	    </tr>
	    <tr>
	    	<td>Brand :</td>
	    	<td>{{ form.brand }}</td>
	    </tr>
	    <tr>
	    	<td>Model :</td>
	    	<td>{{ form.model }}</td>
	    </tr>
	    <tr>
	    	<td>Year of registration (&ge;):</td>
	    	<td>{{ form.year_of_registration }}</td>
	    </tr>
	    <tr>
	    	<td>Power (&ge;):</td>
	    	<td>{{ form.power_ps }}</td>
	    </tr>
	    <tr>
	    	<td>Kilometers (&le;):</td>
	    	<td>{{ form.kilometers }}</td>
	    </tr>
	    <tr>
	    	<td></td>
	    	<td><input type="submit" value="Submit" class="button"/></td>
	    </tr>
    </table>
</form>
</body>