{% load staticfiles %}
{% load humanize %}
<head>
<!--	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<a href="/usedcars/">
	<button type="button" > &lt;&lt; Return to search</button>
</a>

<table class="table table-hover">
	<tr>
		<th>Name :</th>
		<th>Price :</th>
		<th>Vehicle type :</th>
		<th>Year of registration :</th>
		<th>Gearbox :</th>
		<th>Power PS :</th>
		<th>Model :</th>
		<th>Kilometer :</th>
		<th>Month of registration :</th>
		<th>Fuel type :</th>
		<th>Brand :</th>
		<th>Not repaired damage :</th>
		<th>Postal code :</th>
		<th>Predicted price :</th>
		<th>Difference (price - predicted price):</th>
	</tr>
	{% for entry in results.items %}
		<tr>
			{% for x in entry.1.items %}
				{% if x.0 == 'predicted_price' or x.0 == 'difference' %}
				<td>{{ x.1 | floatformat:2|intcomma }}</td>
				{% else %}
				<td>{{ x.1 }}</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<h2>Results: {{no_of_results}}</h2>
</body>