{% load static %}
{% load humanize %}
<head>
<!--	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<!--
	Index(['name', 'price', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'fuelType', 'brand', 'age',
       'daysOnEbay', 'brandModel', 'vehicleClass', 'predicted_price',
       'difference'],
	-->
<body>
<a href="/usedcars/">
	<button type="button" > &lt;&lt; Return to search</button>
</a>

<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Vehicle type</th>
		<th>Year of registration</th>
		<th>Gearbox</th>
		<th>Power PS</th>
		<th>Model</th>
		<th>Kilometer</th>
		<th>Fuel type</th>
		<th>Brand</th>
		<th>Age</th>
		<th>DaysOnEbay</th>
		<th>BrandModel</th>
		<th>VehicleClass</th>
		<th>Predicted price</th>
		<th>Difference (price - predicted price)</th>
	</tr>
	{% for key, row in results.items %}
		<tr>
			<td>{{ row.name }}</td>
			<td>{{ row.price | floatformat:2|intcomma}}</td>
			<td>{{ row.vehicleType }}</td>
			<td>{{ row.yearOfRegistration}}</td>
			<td>{{ row.gearbox }}</td>
			<td>{{ row.powerPS }}</td>
			<td>{{ row.model }}</td>
			<td>{{ row.kilometer}}</td>
			<td>{{ row.fuelType}}</td>
			<td>{{ row.brand}}</td>
			<td>{{ row.age }}</td>
			<td>{{ row.daysOnEbay }}</td>
			<td>{{ row.brandModel }}</td>
			<td>{{ row.vehicleClass }}</td>
			<td>{{ row.predicted_price | floatformat:2|intcomma}}</td>
			<td>{{ row.difference | floatformat:2|intcomma}}</td>
		</tr>
	{% endfor %}
</table>

<h2>Results: {{no_of_results}}</h2>
</body>